
<h3>editing a tweet</h3>

<%= form_for @tweet, url: "/tweets/#{@tweet.id}", method: :put do |t| %>

<p>
	<%= t.label :title %> <br>
	<%= t.text_field :title %>
</p>

<p>
	<%= t.label :description %> <br>
	<%= t.text_field :description %>
</p>

<p>
	<%= t.submit "update" %>
</p>

<% end %>